.login-cont {
    border: 3px solid var(--secondary-color);
    box-sizing: border-box;
    border-radius: 90px;
    padding: 3% 15% 5% 15%;
  }
  
  .login-logo {
    /* padding: 10% !important; */
    margin-bottom: 10% !important;
  }
  
  .mt-10 {
    margin-top: 10%;
  }
  
  .username-input{
    font-family: "Gotham-Rounded-Light";
    margin-bottom: 1%;
    width: 100%;
    padding: 3% !important;
  
    border: none !important;
    background: #e8e8e8 !important;
    border-top-right-radius: 9px !important;
    border-bottom-right-radius: 9px !important;
  }

  .password-input{
    font-family: "Gotham-Rounded-Light";
    margin-bottom: 1%;
    width: 100%;
    padding: 2% !important;
  
    border: none !important;
    background: #e8e8e8 !important;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--secondary-color) !important;
  }
  
  .icon-text {
    background: #e8e8e8 !important;
    z-index: 1 !important;
    height: 93%;
    border-top-right-radius: 9px !important;
    border-bottom-right-radius: 9px !important;
    /* border-: none !important;
    border-top: none !important;
    border-bottom: none !important; */
  }
  .eye-icon-text {
    background: #e8e8e8 !important;
    z-index: 1 !important;
    height: 93%;
    border:1px solid #e8e8e8 !important
  
  }
  /* .icon-text {
    background: #e8e8e8 !important;
    z-index: 1 !important;
    height: 93%;
    border-top-left-radius: 9px !important;
    border-bottom-left-radius: 9px !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
  } */
  .icon-text {
    background: #e8e8e8 !important;
    z-index: 1 !important;
    height: 93%;
    border-top-left-radius: 9px !important;
    border-bottom-left-radius: 9px !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }
  
  .icon-text-2 {
    background: #e8e8e8 !important;
    z-index: 1 !important;
    height: 90%;
    border-top-left-radius: 9px !important;
    border-bottom-left-radius: 9px !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }
  
  .icon-cont {
    z-index: 1;
  }
  
  .login-btn {
    width: 100%;
    padding: 3%;
    margin-top: 5%;
  
    border: none;
    background: var(--secondary-color);
    border-radius: 9px;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  
  .login-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  .username-icon {
    width: 90%;
    margin-left: 5%;
  }
  
  .eye-icon-login {
    display: inline !important;
    margin-left: -13% !important;
    margin-top: 2.5% !important;
    z-index: 10;
    color: #282c34;
    cursor: pointer;
  }
  
  .eye-icon-login-2 {
    display: inline !important;
    margin-left: -10% !important;
    margin-top: 2.2% !important;
    z-index: 10;
    color: #282c34;
    cursor: pointer;
    font-size: 24px;
  }
  
  .reset-label {
    font-family: "Gotham-Rounded-Medium";
    font-size: 14px;
    text-align: left;
  }
  
  .password-wrapper-login-2 {
    width: 90% !important;
    margin-left: -10% !important;
  }
  
  .custom-border-radius {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .custom-border-radius-eye {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  