.search-input-text{
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    background: #cef2f6;
    border: 1px solid #9b9ba0;
    /* box-shadow: 0px 4px 4px #cef2f6; */
    border-radius: 5px;
}

.branch-icon {
    display: inline;
    width: 5%;
    margin-left: -10%;
    color: #e70689;
    cursor: pointer;
  }

.search-icon{
    /* padding-left: 25px;
    background: url("../../Assets/Dashboard/search.png") no-repeat left;
    background-size: 20px; */
    width: 25px;
    height: 25px;
    left: 5vw;
    top: 552px;
}