.left{
    text-align: left;
}

.right{
    text-align: right;
}

.hr-line{
    color: #0c76df;
}

.forms-text{
    font-size: 15px;
}

.form-dropdown{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #4B4B4B;
    border-radius: 5px;
    padding: 3px;
    width: 50%;
    margin-bottom: 10px;
}

.form-input-text{
    border: 1px solid #4B4B4B;
    border-radius: 5px;
    width: 50%;
    height: 75%;
    padding:0.5rem;
}

.form-input-upload{
    border: 1px solid #4B4B4B;
    border-radius: 5px;
    width: 100%;
    height: 70%;
    padding:0.5rem;
    margin-top: 20px;
}

.add-btn, .save-btn, .submit-btn{
    color:rgb(248, 244, 244);
    font-weight: bold;
    background-color: #5BC9E2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}