/* VARIABLES */
:root {
  --primary-color: #61dafb;
  --secondary-color: #5BC9E2;
  --tertiary-color: #3E3E40;


  --font-regular: 'Poppins-Regular';
  --font-medium: 'Poppins-Medium';
  --font-semibold: 'Poppins-Semibold';
  --font-bold: 'Poppins-Bold';
}

/* TAGS */
hr{
  color: var(--secondary-color) !important;
}

/* CLASSES */
.App {
  text-align: center;
  font-family: var(--font-regular);
}

.header-label{
  font-family: var(--font-bold);
  font-size: xx-large;
  text-align: left;
  text-transform: capitalize;
  color:var(--tertiary-color);
  padding: 2%;
  padding-bottom: 0%;
}

.App-link {
  color: #61dafb;
}

.badge{
  color:red !important
}

/* PADDINGS AND MARGINS */
.p-2{
  padding: 2% !important;
}

/* ALIGNMENTS */
.align-w-center{
  text-align: -webkit-center;
}
